---
import "../styles/global.css";
import { Download } from 'lucide-astro';
---

<div class="mt-4 px-4 width-[70%]">
  <nav class="navbar bg-base-100 max-w-6xl shadow-sm mx-auto sticky rounded-2xl z-50 backdrop-blur border px-4 border-base-300">
    <div class="navbar-start">
      <a href="/" class="btn btn-ghost text-xl">Zekesy</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a href="/about/about">About me </a></li>
        <li><a href="/projects/projects">Projects </a></li>
        <li><a href="/articles/articles">Articles</a></li>
          <li>
              <details>
              <summary>Blogs</summary>
              <ul class="p-2 bg-base-100 w-40 z-1">
                  <li><a href="/blogs/about" data-astro-prefetch="hover">About</a></li>
                  <li><a href="/blogs/movies" data-astro-prefetch="hover">Movies</a></li>
                  <li><a href="/blogs/tvshows" data-astro-prefetch="hover">TV shows</a></li>
                  <li><a href="/blogs/music" data-astro-prefetch="hover">Music</a></li>
                  <li><a href="/blogs/books" data-astro-prefetch="hover">Books</a></li>
                  <li><a href="/blogs/games" data-astro-prefetch="hover">Games</a></li>
                  <li><a href="/blogs/anime" data-astro-prefetch="hover">Anime</a></li>
                  <li><a href="/blogs/personalProjects" data-astro-prefetch="hover">Personal Projects</a></li>
              </ul>
              </details>
          </li>
      </ul>
    </div>
  <div class="navbar-end">
    <a href="/resume.pdf" download class="btn rounded-full relative group w-24">
      <!-- Text -->
      <span class="transition-opacity duration-200 group-hover:opacity-0">
        Resume
      </span>
      <!-- Icon -->
      <Download class="w-5 h-5 absolute opacity-0 transition-opacity duration-200 group-hover:opacity-100" />
    </a>
  </div>
  </nav>
</div>
