---
import BlogLayout from '../../layouts/BlogLayout.astro';
import { getCollection } from 'astro:content';

const allBlogs = await getCollection('blog');
const games = allBlogs 
.filter(entry => entry.id.startsWith('games/'))
.map(entry => ({
  title: entry.data.title,
  pubDate: entry.data.pubDate.toLocaleDateString("sv-SE"),
  link: `/blogs/games/${entry.id.replace('games/','')}`,
  }));

---

<BlogLayout title="Games" bg="#dbeafe">
    <h1 class="text-5xl font-bold text-black mb-8 text-left">Games</h1>
    <div class="w-[80%] mx-auto">
    <!-- game Grid -->
    <div class="game-grid mb-12">
      {games.map((game, index) => (
        <a href={game.link} class="game-item">
          <canvas id={`canvas-${index}`} class="game-canvas"></canvas>
          <h3 class="game-title">{game.title}</h3>
          <h4 class="game-date">{game.pubDate}</h4>
        </a>
      ))}
    </div>
  </div>

  <style>
    .game-grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 2rem;
      margin-bottom: 1rem;
    }

    @media (max-width: 1024px) {
      .game-grid {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    @media (max-width: 640px) {
      .game-grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .game-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      transition: all 0.3s ease;
      cursor: pointer;
    }

    .game-item:hover {
      transform: scale(1.1);
    }

    .game-item:hover .game-title {
      color: #333;
    }

    .game-canvas {
      width: 100%;
      aspect-ratio: 1;
      background: transparent;
    }

    .game-title {
      font-size: 1rem;
      font-weight: 600;
      color: #333;
      text-align: center;
      margin: 0;
      margin-top: 0rem;
      transition: color 0.3s ease;
    }
  </style>

  <script type="module">
    import { Renderer3D } from "/src/scripts/rendering.js";
    import { triangulate, parseOBJ, normalizeMesh, loadMeshJSON } from "/src/scripts/mesh.js";

    window.addEventListener("DOMContentLoaded", async () => {
      try {
        const mesh = await loadMeshJSON('/src/assets/game.json');

        const FPS = 15;
        const gameCanvases = document.querySelectorAll('[id^="canvas-"]');

        gameCanvases.forEach((canvas, index) => {
          const canvasId = canvas.id;
          const renderer = new Renderer3D(canvasId);
          
          let gameAngle = index * 0.3;
          let uprightAngle = -Math.PI / 2;
          function animategame() {
            const dt = 1 / FPS;
            gameAngle += Math.PI * dt * 0.2;
            
            renderer.clear({r: 0, g: 0, b: 0, a: 0});
            
            renderer.render(mesh, {
              rotation: {x: uprightAngle , y: gameAngle, z: 0},
              translation: {x: 0, y: 0, z: 6},
              scale: 1
            });
            
            requestAnimationFrame(animategame); // Smoother than setTimeout
          }
          
          animategame();
        });
        
      } catch (error) {
        console.error('Error loading clapperboard model:', error);
      }
    }); 
  </script>




</BlogLayout>
